##### CUSTOM - SHARED ##########################################################

# Local Only
/_local/

##### BUILDS ###################################################################

/dist/

##### GENERAL ##################################################################

# Packages: External
node_modules/

##### GENERAL ##################################################################

# Unsorted
/coverage
.nyc_output

##### END ######################################################################
